body{
    font-family: Helvetica;
}

h1 {
    width: 300px;
    height: 20px;
    font-size: 20px;
    text-decoration: underline;
}

#searchResults>ul>li{
    display: block;
}

li {
    display: inline-block; 
    font-size: 12px;
}

ul>li>a {
    display: inline-block;
}

ul>li>a {
    display: inline-block;
}

h3 {
    display: inline-block;
    font-size: 15px;
    color : black;
}

a :hover {
    font-style: italic;
}

div {
}

#searchResults>ul>li>img {
    width: auto;
    height: 40px;
    display: inline-block;
}

#myhero>img {
    width: 150px;
    height: auto;   
}

#myhero>ul {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;    
}

div {
    display: none;
}

div.active{
    display: block;
}

#searchResults{
   
}

#myhero{
    width: 180px;
    max-width: 1500px;
    border : 2px solid red;
}

ul>ul {
    padding-left: 0;
    margin-left: 0;
}

ul>ul>li {
    margin-left: 10px;
}

p {
    font-size: 15px;
}

#return {
    display: none;
}

#return.active{
    display: inline-block;
}